*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f4f4;
    font-family:Arial, sans-serif;
    padding:30px;
}

.wrapper{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

#left{
    width:50%;
    background:lightblue;
    border:3px solid blue;
    padding:30px;
    border-radius:10px;
}

#right{
    width:50%;
    background:lightgreen;
    border:3px solid green;
    padding:30px;
    border-radius:10px;
}